p {
    color: blue;
    text-transform: uppercase;
    text-align: center;
}

.navbar-text {
    color: red;
    background-color:aqua;
}

#navbar{
    background-color: lightskyblue;
}

#jumbotron{
    background-color: blueviolet;
}

.jumbotron-text{
    color:honeydew;
}

#footer{
    background-color:cyan;
}

